server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    listen 8448 ssl http2 default_server;
    listen [::]:8448 ssl http2 default_server;
    server_name ${HOSTNAME};

    ssl_certificate     /etc/letsencrypt/live/${HOSTNAME}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${HOSTNAME}/privkey.pem;

    location /.well-known/matrix/server {
        return 200 '{"m.server": "${HOSTNAME}:443"}';
        add_header Content-Type application/json;
    }

    location /.well-known/matrix/client {
        return 200 '{"m.homeserver": {"base_url": "https://${HOSTNAME}"}}';
        add_header Content-Type application/json;
        add_header "Access-Control-Allow-Origin" *;
    }

    location ~ ^(/_matrix|/_synapse/client) {
        proxy_pass http://synapse:8008;
        proxy_set_header X-Forwarded-For ${REMOTE_ADDR};
        proxy_set_header X-Forwarded-Proto $SCHEME;
        proxy_set_header Host $HOST;
        client_max_body_size 50M;
    }
}
